* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; use min-height so body can grow if there is more content, vh for viewport size */
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px 4fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas:
    "sidebar header header"
    "sidebar main annoucments"
    "sidebar main annoucments"
    "sidebar footer footer";
}

aside {
  height: 100vh;
  top: 0px;
  grid-area: sidebar;
  background-color: blue;
  align-self: start;
  position: sticky;
}
nav {
  top: 0px;
  position: sticky;
  grid-area: header;
  background-color: gray;
  color: white;
  padding: 1em;
}

footer {
  grid-area: footer;
  background-color: black;
  padding: 2em;
}

.annoucements {
  grid-area: annoucments;
  background-color: pink;
}

main {
  grid-area: main;
  background-color: aqua;
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
  aside {
    position: fixed;
    width: 300px;
    display: none;
  }
  .show {
    display: block;
  }
}
