* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: lightgray;
  border: 5px solid black;
}

.header {
  grid-column: 2/5;
  background-color: white;
  border: 5px solid black;
}

#sidebar {
  grid-row: 1/5;
  background-color: blue;
  border: 5px solid black;
  color: white;

  position: sticky;
  padding: 20px 0px 0px 20px;
}

#sidebar ul {
  list-style-type: none;
}

.main {
  display: grid;
  grid-area: 2/2/4/3;
  grid-template-columns: 3fr, 1fr;

  align-items: center;
  justify-items: center;
  gap: 5px;
}

.announcements {
  background-color: white;
  border: 5px solid black;
  grid-area: 2/3/4/3;
}

.content-card {
  /* width: clamp(400px, calc(50% - 24px), 1000px);
  height: 250px; */
  background-color: white;
  border-left: 10px #21adcb solid;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px rgb(214, 214, 214);
}

footer {
  background-color: black;
  grid-column: span 5;
  color: white;
}
